@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.ttf') format('truetype');
}

@font-face {
    font-family: 'ProximaNova-Light';
    src: url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.ttf') format('truetype');
}


div.lightplayer li {
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.bloco-palco li {
    position:absolute;
    display:none;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
}

div.lightplayer div.bloco-palco li span {
    display:none;
}

div.lightplayer span.views {
    color:#bbb;
    font:12px ProximaNova-Regular, Arial, sans-serif;
}

div.lightplayer ul {
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.bloco-palco ul {
    position:relative;
    display:block;
    height:359px;
    background:url(/media/lightplayer/imgs/bg.png) #000 0 0 repeat-x;
}



/********************************************************
 * MODULO HEADER
 ********************************************************/

div.lightplayer.novelas div.header {
    overflow:hidden;
    padding:28px 28px 13px;
    height:auto;
}

div.lightplayer.novelas div.header em.subtitulo {
    color:#999;
    font:22px ProximaNova-Light, Georgia, serif;
    letter-spacing:-1px;
    text-transform:uppercase;
}

div.lightplayer.novelas div.header h5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 5px 0 0;
    padding:0;
    color:#533475;
    font:22px/1em ProximaNova-Light, Arial, sans-serif;
    letter-spacing:-2px;
    text-transform:uppercase;
}

div.lightplayer.novelas div.header h5 span {
    color:inherit;
    font-weight:bold;
}



/********************************************************
 * MODULO INFO NOVELAS
 ********************************************************/

div.lightplayer div.info {
    display: inline-block;
    margin:0;
    padding: 0px 20px 20px 28px;
    width: 430px;
    height:70px;
}

div.lightplayer div.info h6 {
    color:#533475;
    font:bold 24px/26px Arial, sans-serif;
    letter-spacing:-1px;
}

div.lightplayer div.info span.contador {
    display: block;
    color:#666;
    font:12px ProximaNova-Light, Arial, sans-serif;
    text-transform: uppercase;
}

div.lightplayer div.info span.numero {
    font-family:ProximaNova-Bold, Arial, sans-serif;
}



/********************************************************
 * MODULO SOCIAL NOVELAS
 ********************************************************/

div.lightplayer div.social {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding:13px 0 0;
    width:288px;
    height:50px;
    vertical-align: top;
}

div.lightplayer div.social div.video-social {
    vertical-align:top;
    display: inline-block;
    position: relative;
    right: 0;
}

div.lightplayer div.social span.label {
    display: block;
    font-size: 12px;
    color: #999;
    margin-bottom: 12px;
    text-transform: uppercase;
}

div.lightplayer div.social div.video-social a.button {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:6px;
    width:24px;
    height:24px;
    vertical-align:middle;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.social.png) transparent 0 0 no-repeat;
}

div.lightplayer div.social div.video-social a.button.facebook {
    background-position:-24px 0;
}

div.lightplayer div.social div.video-social a.button.orkut {
    background-position:0 0;
}

div.lightplayer div.social div.video-social a.button.twitter {
    background-position:-48px 0;
}

div.lightplayer div.social div.video-social iframe {
    width:240px;
    height:100px;
}

div.lightplayer div.social div.video-social input {
    padding:0 5px;
    height:22px;
    color:#666;
    font-size:12px;
    line-height:20px;
    vertical-align:middle;
    border-radius:3px;
    border:1px inset #888;
    cursor:text;
}

div.lightplayer div.social span.facebook-like {
    display: inline-block;
    margin-top: 3px;
}



/********************************************************
 * MODULO PLAYLIST
 ********************************************************/

div.lightplayer.novelas div.playlist {
    height: 225px;
    position: relative;
    padding: 10px 28px 30px;
    background-color: #f6f6f6;
}

div.lightplayer.novelas div.playlist a.seta-esquerda {
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent 0 0 no-repeat;
    background-color:#00f;
    position: absolute;
    top: 10px;
    left: 0;
    height: 108px;
    width: 26px;
}

div.lightplayer.novelas div.playlist a.seta-esquerda:hover {
    background-position: -66px 0;
}

div.lightplayer.novelas div.playlist a.seta-esquerda:active {
    background-position: -131px 0;
}

div.lightplayer.novelas div.playlist a.seta-esquerda.inativo {
    background-position: -196px 0;
    background-color:#C9C9C9;
}

div.lightplayer.novelas div.playlist a.seta-direita{
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent -29px 0 no-repeat;
    background-color:#0000FF;
    position: absolute;
    top: 10px;
    right: 0;
    height: 108px;
    width: 26px;
}

div.lightplayer.novelas div.playlist a.seta-direita:hover {
    background-position: -95px 0;
}

div.lightplayer.novelas div.playlist a.seta-direita:active {
    background-position: -160px 0;
}

div.lightplayer.novelas div.playlist a.seta-direita.inativo {
    background-position: -225px 0;
    background-color:#C9C9C9;
}

div.lightplayer.novelas div.playlist div.trilho-videos {
    position: relative;
    width: 100%;
    height: 225px;
    overflow: hidden;
    white-space: nowrap;
    transition: text-indent 400ms ease-out;
    -webkit-transition: text-indent 400ms ease-out; /* Safari and Chrome */
    -moz-transition: text-indent 400ms ease-out; /* Firefox 4 */
    -o-transition: text-indent 400ms ease-out; /* Opera */
}

div.lightplayer.novelas div.playlist ul {
    display: inline-block;
    white-space: normal;
    text-indent:0px;
    margin: 0px;
    margin-right:-4px;
}

div.lightplayer.novelas div.playlist li {
    width: 180px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 4px;
}

div.lightplayer.novelas div.playlist img {
    height: 108px;
    width: 180px;
    margin-bottom: 18px;
    border-radius: 5px;
}

div.lightplayer.novelas div.playlist span.titulo-item {
    display: inline;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

div.lightplayer.novelas div.playlist span.exibicao {
    display: block;
    margin-top: 18px;
    font-size: 12px;
    text-transform: uppercase;
}

div.lightplayer.novelas div.playlist span.exibicao strong {
    font-family:ProximaNova-Semibold;
}

div.lightplayer.novelas div.playlist a {
    display:block;
    position:relative;
    text-decoration: none;
    color:#999;
}

div.lightplayer.novelas div.playlist li span.label,
div.lightplayer.novelas div.playlist li span.layer {
    display:none;
}


div.lightplayer.novelas div.playlist li.assistindo span.layer {
    width: 180px;
    height: 108px;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    background-color: #000;
    opacity:0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=3);
    display:block;
}


div.lightplayer.novelas div.playlist li.assistindo span.label {
    font-family: ProximaNova-SemiBold;
    letter-spacing: -1px;
    font-size: 12px;
    color:#fff;
    position: absolute;
    top: 50px;
    left: 55px;
    text-transform: uppercase;
    font-weight: bold;
    display:block;
}

div.lightplayer.novelas div.playlist a:hover, 
div.lightplayer.novelas div.playlist a:hover span.titulo-item {
    color:#0000FF;
}

div.lightplayer.novelas div.playlist span.hover-img {
    border: 4px solid #0000FF;
    width: 171px;
    height: 100px;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    display: none;
}

div.lightplayer.novelas div.playlist a:hover span.hover-img {
    display:block;
}

div.lightplayer.novelas div.playlist span.contador-videos {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

div.lightplayer.novelas div.playlist span.numero {
    font-weight: bold;
    font-family:ProximaNova-Semibold;
}

div.lightplayer.novelas div.playlist span.borda-inferior {
    position: absolute;
    height: 3px;
    bottom: 0;
    background-color: #CCC;
    width: 100%;
    left: 0;
}
