
/********************************************************
 * MODULO STAGE
 ********************************************************/

div.lightplayer div.palco {
    position:relative;
    overflow:hidden;
}

div.lightplayer div.palco a.nav {
    position:absolute;
    display:none;
    top:126px;
    width:0;
    height:130px;
    text-decoration:none;
    overflow:visible !important;
    z-index:1;
}

div.lightplayer div.palco a.nav span.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    border-radius:3px;
    opacity:.7;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE8 */
    filter:alpha(opacity=70); /* IE7- */
    z-index:1;
}

div.lightplayer div.palco a.nav span.arrow {
    position:absolute;
    display:block;
    top:40px;
    width:30px;
    height:50px;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); /* IE8 */   
    opacity:.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index:2;
}

div.lightplayer div.palco a.nav span.chapeu {
    display:block;
    margin:0 0 7px;
    color:#ddd;
    font-size:9px;
    text-transform:uppercase;
}

div.lightplayer div.palco a.nav span.info {
    position:absolute;
    display:none;
    top:20px;
    width:150px;
    height:100px;
    color:#fff;
    font-size:12px;
    z-index:2;
}

div.lightplayer div.palco a.nav.next {
    right:0;
}

div.lightplayer div.palco a.nav.next span.info {
    left:20px;
}

div.lightplayer div.palco a.nav.next span.arrow {
    right:15px;
    background-position:0 -60px;
}

div.lightplayer div.palco a.nav.prev {
    left:0;
}

div.lightplayer div.palco a.nav.prev span.info {
    right:20px;
}

div.lightplayer div.palco a.nav.prev span.arrow {
    left:15px;
    background-position:-28px -60px;
}

div.lightplayer div.palco a.nav.visible {
    display:block;
}

div.lightplayer div.palco a.nav.visible span.arrow {
    cursor:pointer;
}

div.lightplayer div.palco a.nav.loading span.arrow {
    background:url(/media/lightplayer/imgs/ico.loading.gif) transparent 0 0 no-repeat;
    cursor:default;
}

div.lightplayer div.palco a.nav.loading span.overlay,
div.lightplayer div.palco a.nav.loading span.info {
    display:none !important;
}

div.lightplayer div.palco div.video-player {
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:359px !important;
    background-color:#000;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

/* Resolvendo problema do buraco no IE7/8 */
div.lightplayer div.palco div.wm-poster-wrapper,
div.lightplayer div.palco div.wm-poster-inner-wrapper {
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

div.lightplayer div.palco li {
    position:absolute;
    display:none;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.palco li span {
    display:none;
}

div.lightplayer div.palco li.current {
    display:block;
    top:0;
    left:0;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco li.next {
    display:block;
    left:100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco li.prev {
    display:block;
    left:-100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco ul {
    position:relative;
    display:block;
    margin:0;
    padding:0;
    height:359px;
    list-style:none;
    background:url(/media/lightplayer/imgs/bg.png) #000 0 0 repeat-x;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
    overflow:hidden;
    
}
