*.pyc
*.swp
*.swo
*.swn
*.tmproj
*.orig
.coverage
.project
.ropeproject/
.settings/
.settings/org.eclipse.core.resources.prefs
.pydevproject
.ropeproject
.pydevproject
.settings
.DS_Store
report.html
tmp/
lightplayer.egg-info/
dist/
