*.pyc
*.swp
*.swo
*.swn
*.tmproj
*.orig
.coverage
.project
.settings
.settings/org.eclipse.core.resources.prefs
.pydevproject
.ropeproject
.pydevproject
.DS_Store
report.html
runner.html
*.egg-info/
.ropeproject/
.sass-cache/
.settings/
.grunt/
dist/
node_modules/
tmp/
