
/********************************************************
 * MODULO PLAYLIST
 ********************************************************/

div.lightplayer div.playlist {
    height: 225px;
    position: relative;
    padding: 10px 30px 30px;
    background-color: #f6f6f6;
}

div.lightplayer div.playlist a {
    position:relative;
    display:block;
    width:100%;
    text-decoration:none;
    color:#666;
}
div.lightplayer div.playlist li.assistindo a:hover span.hover-img {
    display:none;
}


div.lightplayer div.playlist a:hover span.hover-img {
    display:block;
}

div.lightplayer div.playlist a.next {
    background:url(/imgs/btn.nav_playlist.png) transparent -28px 0 no-repeat;
    background-color:#c51883;
    position: absolute;
    top: 10px;
    right: 0;
    height: 108px;
    width: 27px;
}

div.lightplayer div.playlist a.next:hover {
    background-position: -94px 0;
}

div.lightplayer div.playlist a.next:active {
    background-position: -159px 0;
}

div.lightplayer div.playlist .inativo{
    background-color:#c9c9c9!important;
}
div.lightplayer div.playlist a.next.inativo {
    background-position: -224px 0;
}

div.lightplayer div.playlist a.prev {
    background:url(/imgs/btn.nav_playlist.png) transparent 0 0 no-repeat;
    background-color:#c51883;
    position: absolute;
    top: 10px;
    left: 0;
    height: 108px;
    width: 27px;
}

div.lightplayer div.playlist a.prev:hover {
    background-position: -66px 0;
}

div.lightplayer div.playlist a.prev:active {
    background-position: -131px 0;
}

div.lightplayer div.playlist a.prev.inativo {
    background-position: -196px 0;
}

div.lightplayer div.playlist div.film-strip {
    transition: margin-left 400ms ease-out;
    -webkit-transition: margin-left 400ms ease-out; /* Safari and Chrome */
    -moz-transition: margin-left 400ms ease-out; /* Firefox 4 */
    -o-transition: margin-left 400ms ease-out; /* Opera */
}

div.lightplayer div.playlist div.trilho-videos {
    position: relative;
    width: 100%;
    height: 225px;
    overflow: hidden;
    white-space: nowrap;
}

div.lightplayer div.playlist img {
    display:block;
    margin-bottom: 18px;
    width: 180px;
    height: 108px;
    border:none;
    border-radius: 2px;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

div.lightplayer div.playlist li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin: 0 5px;
    width: 180px;
    white-space: normal;
    vertical-align: top;
}


div.lightplayer div.playlist li span.label,
div.lightplayer div.playlist li span.layer {
    display:none;
}
div.lightplayer div.playlist li.assistindo a{
    color: #666 !important;
    cursor: default;
}
div.lightplayer div.playlist li.assistindo span.label {
    position:absolute;
    display:block;
    top:0;
    left:0;
    padding:48px 0;
    width: 180px;
    color:#fff;
    font:bold 12px ProximaNova-SemiBold, Arial, sans-serif;
    letter-spacing: -1px;
    text-align:center;
    text-transform: uppercase;
}

div.lightplayer div.playlist li.assistindo span.layer {
    position: absolute;
    display:block;
    *display:none; /* IE7 has some rendering problems */
    top:0;
    left:0;
    width: 180px;
    height: 108px;
    border-radius: 2px;
    background-color: #000;
    opacity:0.6;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); /* IE8 */
    filter:alpha(opacity=60); /* IE7- */
    zoom:1;
    float:left;
}

div.lightplayer div.playlist span.borda-inferior {
    position: absolute;
    height: 3px;
    bottom: 0;
    background-color: #eaeaea;
    width: 100%;
    left: 0;
}

div.lightplayer div.playlist span.chapeu {
    display: block;
    margin-bottom: 5px;
    font:12px ProximaNova-Light, Arial, sans-serif;
    text-transform: uppercase;
}

div.lightplayer div.playlist span.exibicao {
    display: block;
    margin-top: 18px;
    font-size: 10px;
    text-transform: uppercase;
    color:#666;
}

div.lightplayer div.playlist span.exibicao strong {
    font-family:ProximaNova-Semibold, Arial, sans-serif;
}

div.lightplayer div.playlist span.hover-img {
    position: absolute;
    display: none;
    width: 172px;
    height: 100px;
    top: 0;
    left:0;
    border-radius: 2px;
    border: 4px solid;
    border-color:#c51883;
}

div.lightplayer div.playlist span.numero {
    font:bold 12px ProximaNova-Semibold, Arial, sans-serif;
}

div.lightplayer div.playlist span.titulo-item {
    display:block;
    font: 14px/18px Arial, Helvetica, Freesans, sans-serif;
}

div.lightplayer div.playlist ul {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding:0;
    text-indent:0;
    list-style:none;
    overflow:hidden;
    vertical-align:top;
}


