@font-face {font-family: 'ProximaNova-Regular';
    src: url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/6d3bcabe7a803ae6fcdd7e47c1c5f135.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/8c4ca46fc1e4008f5a90fabe72f92b88.ttf') format('truetype');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.eot');
    src: url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.eot?#iefix') format('embedded-opentype'),
    url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.woff') format('woff'),
    url('http://s.glbimg.com/po/fo/webfonts/842dbd395d12ce251a03727028b17d6e.ttf') format('truetype');
}


div.lightplayer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100000;
    font-family:ProximaNova-Regular, arial, sans-serif
    font-size:12px; 
    letter-spacing: -0.3px;
}

div.lightplayer a.close {
    position:absolute;
    display:block;
    top:25px;
    right:25px;
    width:30px;
    height:30px;
    text-indent:-5000px;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    overflow:hidden;
}

div.lightplayer a.close:hover {
    background-position:0 -30px;
}

div.lightplayer a.nav {
    position:absolute;
    display:none;
    top:126px;
    width:0;
    height:130px;
    text-decoration:none;
    overflow:visible !important;
    z-index:1;
}

div.lightplayer a.nav span.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    border-radius:3px;
    opacity:.7;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE8 */
    filter:alpha(opacity=70); /* IE7- */
    z-index:1;
}

div.lightplayer a.nav span.arrow {
    position:absolute;
    display:block;
    top:40px;
    width:30px;
    height:50px;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    opacity:.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index:2;
}

div.lightplayer a.nav span.chapeu {
    display:block;
    margin:0 0 7px;
    color:#ddd;
    font-size:9px;
    text-transform:uppercase;
}

div.lightplayer a.nav span.video {
    position:absolute;
    display:none;
    top:20px;
    width:150px;
    height:100px;
    color:#fff;
    font-size:12px;
    z-index:2;
}

div.lightplayer a.nav.next {
    right:0;
}

div.lightplayer a.nav.next span.video {
    left:20px;
}

div.lightplayer a.nav.next span.arrow {
    right:15px;
    background-position:0 -60px;
}

div.lightplayer a.nav.prev {
    left:0;
}

div.lightplayer a.nav.prev span.video {
    right:20px;
}

div.lightplayer a.nav.prev span.arrow {
    left:15px;
    background-position:-28px -60px;
}

div.lightplayer a.nav.visible {
    display:block;
}

div.lightplayer a.nav.visible span.arrow {
    cursor:pointer;
}

div.lightplayer a.nav.loading span.arrow {
    background:url(/media/lightplayer/imgs/ico.loading.gif) transparent 0 0 no-repeat;
    cursor:default;
}

div.lightplayer a.nav.loading span.overlay,
div.lightplayer a.nav.loading span.video {
    display:none !important;
}

div.lightplayer div.video-player {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:479px !important;
    height:359px !important;
    background-color:#000;
}



div.lightplayer div.video-info {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:30px 28px 30px 30px;
    width:490px;
    vertical-align:top;
}

div.lightplayer div.widget {
    position:relative;
    margin:10px auto;
    width:820px;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:5px;
    box-shadow:0 0 4px #ccc;
    opacity:0;

    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);

    -webkit-transition:-webkit-transform 0.7s ease, opacity 0.7s ease;
    -moz-transition:-moz-transform 0.7s ease, opacity 0.7s ease;
    -o-transition:-o-transform 0.7s ease, opacity 0.7s ease;
    transition:transform 0.7s ease, opacity 0.7s ease;
}

div.lightplayer div.widget.visible {
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */

    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    transform:scale(1.0);
}

div.lightplayer div.widget-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow-y:scroll;
    z-index:2;
}

div.lightplayer div.bloco-palco {
    position:relative;
}

div.lightplayer div.widget-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#f6f6f6;
    z-index:1;
    opacity:0;

    -webkit-transition:opacity 0.7s ease;
    -moz-transition:opacity 0.7s ease;
    -o-transition:opacity 0.7s ease;
    transition:opacity 0.7s ease;
}

div.lightplayer div.widget-overlay.visible {
    opacity:0.8;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* IE8 */
    filter:alpha(opacity=80); /* IE7- */
}

div.lightplayer  li{
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.bloco-palco li {
    position:absolute;
    display:none;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
}

div.lightplayer div.bloco-palco li span {
    display:none;
}

div.lightplayer div.bloco-palco li.current {
    display:block;
    top:0;
    left:0;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.bloco-palco li.next {
    display:block;
    left:100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.bloco-palco li.prev {
    display:block;
    left:-100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer p {
    margin-top:15px;
    color:#999;
    font:14px/18px ProximaNova-Regular, Arial, sans-serif;
    letter-spacing: -0.4px;
}


div.lightplayer span.views {
    color:#bbb;
    font:12px ProximaNova-Regular, Arial, sans-serif;
}

div.lightplayer ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.bloco-palco ul {
    position:relative;
    display:block;
    height:359px;
    background:url(/media/lightplayer/imgs/bg.png) #000 0 0 repeat-x;
}

/* BLOCO TOP */
div.lightplayer div.bloco-top {
    overflow:hidden;
    padding:28px 28px 23px;

}

div.lightplayer div.bloco-top em.subtitulo {
    color:#999;
    font: 22px ProximaNova-Light, Georgia, serif;
    letter-spacing:-1px;
}

div.lightplayer div.bloco-top h5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 5px 0 0;
    padding:0;
    color:#333;
    font:22px/1em ProximaNova-Light, Arial, sans-serif;
    letter-spacing:-1px;
}

div.lightplayer div.bloco-top h5 span {
    color:#ff8706;
    font-weight:bold;
}
/* FIM BLOCO TOP */


/* BLOCO TITULO */ 
div.lightplayer div.bloco-titulo{
    display: inline-block;
    padding: 0px 20px 30px 28px;
    width: 430px;
    height:70px;
}

div.lightplayer div.bloco-titulo span.contador-videos {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:#999;
}

div.lightplayer div.bloco-titulo span.numero {
    font-weight: bold;
    font-family:ProximaNova-Semibold;
}

div.lightplayer div.bloco-titulo h6 {
    display: inline;
    color:#333;
    font:bold 26px/28px Arial, sans-serif;
    letter-spacing:-1px;
    line-height: 26px;
}
/* FIM BLOCO TITULO */

/* BLOCO SOCIAL */ 
div.lightplayer div.bloco-social{
    display:inline-block;
    *display:inline;
    *zoom:1;
    width: 288px;
    padding-bottom: 30px;
    padding-top: 20px;
    height: 50px;
    vertical-align: top;

}
div.lightplayer div.bloco-social div.video-social {
    vertical-align:top;
    display: inline-block;
    position: relative;
    right: 0;
}

div.lightplayer div.bloco-social span.label{
    display: block;
    font-size: 12px;
    color: #999;
    margin-bottom: 12px;
    text-transform: uppercase;
}

div.lightplayer div.bloco-social div.video-social a.button {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:6px;
    width:24px;
    height:24px;
    vertical-align:middle;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.social.png) transparent 0 0 no-repeat;
}

div.lightplayer div.bloco-social div.video-social a.button.facebook {
    background-position:-24px 0;
}

div.lightplayer div.bloco-social div.video-social a.button.orkut {
    background-position:0 0;
}

div.lightplayer div.bloco-social div.video-social a.button.twitter {
    background-position:-48px 0;
}

div.lightplayer div.bloco-social div.video-social iframe {
    width:240px;
    height:100px;
}

div.lightplayer div.bloco-social div.video-social input {
    padding:0 5px;
    height:22px;
    color:#666;
    font-size:12px;
    line-height:20px;
    vertical-align:middle;
    border-radius:3px;
    border:1px inset #888;
    cursor:text;
}

div.lightplayer div.bloco-social span.facebook-like {
    display: inline-block;
    margin-top: 3px;
}
/* FIM BLOCO SOCIAL */


/* BLOCO PALCO */
/* FIM BLOCO PALCO */

/* BLOCO PLAYLIST */
div.lightplayer div.bloco-playlist{
    height: 225px;
    position: relative;
    padding: 10px 38px 30px;
    margin-bottom:30px;
    background-color: #F6F6F6;
    
}

div.lightplayer div.bloco-playlist span.seta-esquerda{
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent 0 0 no-repeat;
    background-color:#0000FF;
    position: absolute;
    top: 10px;
    left: 0;
    height: 108px;
    width: 26px;
}

div.lightplayer div.bloco-playlist span.seta-esquerda:hover{
    background-position: -66px 0;
}

div.lightplayer div.bloco-playlist span.seta-esquerda:active{
    background-position: -131px 0;
}

div.lightplayer div.bloco-playlist span.seta-esquerda.inativo{
    background-position: -196px 0;
    background-color:#C9C9C9;
}

div.lightplayer div.bloco-playlist span.seta-direita{
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent -29px 0 no-repeat;
    background-color:#0000FF;
    position: absolute;
    top: 10px;
    right: 0;
    height: 108px;
    width: 26px;
}
div.lightplayer div.bloco-playlist span.seta-direita:hover{
    background-position: -95px 0;
}

div.lightplayer div.bloco-playlist span.seta-direita:active{
    background-position: -160px 0;
}

div.lightplayer div.bloco-playlist span.seta-direita.inativo{
    background-position: -225px 0;
    background-color:#C9C9C9;
}

div.lightplayer div.bloco-playlist img{
    height: 108px;
    width: 180px;
    margin-bottom: 18px;
    border-radius: 5px;
}
div.lightplayer div.bloco-playlist li{
    width: 180px;
    display: inline-block;
    vertical-align: top;
    margin-left: 4px;
}

div.lightplayer div.bloco-playlist li:first-child{
    margin-left: 0px;
}

div.lightplayer div.bloco-playlist span.titulo-item {
    display: inline;
    font-size: 12px;
    line-height: 18px;
    color: #666;
}

div.lightplayer div.bloco-playlist span.exibicao{
    display: block;
    margin-top: 18px;
    font-size: 12px;
    text-transform: uppercase;
}
div.lightplayer div.bloco-playlist span.exibicao strong{
    font-family:ProximaNova-Semibold;
}

div.lightplayer div.bloco-playlist a{
    display:block;
    text-decoration: none;
    color:#999;
}

div.lightplayer div.bloco-playlist a:hover, 
div.lightplayer div.bloco-playlist a:hover span.titulo-item{
    color:#0000FF;
}

div.lightplayer div.bloco-playlist span.hover-img{
    border: 4px solid #0000FF;
    width: 171px;
    height: 100px;
    position: absolute;
    top: 10px;
    border-radius: 5px;
    display: none;
}

div.lightplayer div.bloco-playlist a:hover span.hover-img{
    display:block;
}

div.lightplayer div.bloco-playlist span.contador-videos {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

div.lightplayer div.bloco-playlist span.numero {
    font-weight: bold;
    font-family:ProximaNova-Semibold;
}

div.lightplayer div.bloco-playlist span.borda-inferior{
    position: absolute;
    height: 3px;
    bottom: 0;
    background-color: #CCC;
    width: 100%;
    left: 0;
    border-bottom: 1px solid #999;
}
/* FIM BLOCO PLAYLIST */
