
/********************************************************
 * LIGHTPLAYER
 ********************************************************/

div.lightplayer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font:x-small arial, helvetica, freesans, sans-serif;
    z-index:100000;
}

div.lightplayer div.widget {
    position:relative;
    margin:10px auto;
    width:820px;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:5px;
    box-shadow:0 0 4px #ccc;
    opacity:0;

    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);

    -webkit-transition:-webkit-transform 0.7s ease, opacity 0.7s ease;
    -moz-transition:-moz-transform 0.7s ease, opacity 0.7s ease;
    -o-transition:-o-transform 0.7s ease, opacity 0.7s ease;
    transition:transform 0.7s ease, opacity 0.7s ease;
}

div.lightplayer div.widget.visible {
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */

    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    transform:scale(1.0);
}

div.lightplayer div.widget-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow-y:scroll;
    z-index:2;
}


div.lightplayer div.widget-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#f6f6f6;
    z-index:1;
    opacity:0;

    -webkit-transition:opacity 0.7s ease;
    -moz-transition:opacity 0.7s ease;
    -o-transition:opacity 0.7s ease;
    transition:opacity 0.7s ease;
}

div.lightplayer div.widget-overlay.visible {
    opacity:0.8;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* IE8 */
    filter:alpha(opacity=80); /* IE7- */
}



/********************************************************
 * MODULO HEADER
 ********************************************************/

div.lightplayer div.header {
    padding:28px 28px 13px;
    height:auto;
    overflow:hidden;
}

div.lightplayer div.header a.close {
    position:absolute;
    display:block;
    top:25px;
    right:25px;
    width:30px;
    height:30px;
    text-indent:-5000px;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    overflow:hidden;
}

div.lightplayer div.header a.close:hover {
    background-position:0 -30px;
}

div.lightplayer div.header em.subtitulo {
    color:#999;
    font:22px ProximaNova-Light, Georgia, serif;
    text-transform:uppercase;
}

div.lightplayer div.header h5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 5px 0 0;
    padding:0;
    color:#c51883;
    font:22px/1em ProximaNova-Light, Arial, sans-serif;
    letter-spacing:-2px;
    text-transform:uppercase;
}

div.lightplayer div.header h5 span {
    color:inherit;
    font-weight:bold;
}



/********************************************************
 * MODULO STAGE
 ********************************************************/

div.lightplayer div.palco {
    position:relative;
    overflow:hidden;
}

div.lightplayer div.palco a.nav {
    position:absolute;
    display:none;
    top:126px;
    width:0;
    height:130px;
    text-decoration:none;
    overflow:visible !important;
    z-index:1;
}

div.lightplayer div.palco a.nav span.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    border-radius:3px;
    opacity:.7;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE8 */
    filter:alpha(opacity=70); /* IE7- */
    z-index:1;
}

div.lightplayer div.palco a.nav span.arrow {
    position:absolute;
    display:block;
    top:40px;
    width:30px;
    height:50px;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); /* IE8 */   
    opacity:.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index:2;
}

div.lightplayer div.palco a.nav span.chapeu {
    display:block;
    margin:0 0 7px;
    color:#ddd;
    font-size:9px;
    text-transform:uppercase;
}

div.lightplayer div.palco a.nav span.info {
    position:absolute;
    display:none;
    top:20px;
    width:150px;
    height:100px;
    color:#fff;
    font-size:12px;
    z-index:2;
}

div.lightplayer div.palco a.nav.next {
    right:0;
}

div.lightplayer div.palco a.nav.next span.info {
    left:20px;
}

div.lightplayer div.palco a.nav.next span.arrow {
    right:15px;
    background-position:0 -60px;
}

div.lightplayer div.palco a.nav.prev {
    left:0;
}

div.lightplayer div.palco a.nav.prev span.info {
    right:20px;
}

div.lightplayer div.palco a.nav.prev span.arrow {
    left:15px;
    background-position:-28px -60px;
}

div.lightplayer div.palco a.nav.visible {
    display:block;
}

div.lightplayer div.palco a.nav.visible span.arrow {
    cursor:pointer;
}

div.lightplayer div.palco a.nav.loading span.arrow {
    background:url(/media/lightplayer/imgs/ico.loading.gif) transparent 0 0 no-repeat;
    cursor:default;
}

div.lightplayer div.palco a.nav.loading span.overlay,
div.lightplayer div.palco a.nav.loading span.info {
    display:none !important;
}

div.lightplayer div.palco div.video-player {
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:359px !important;
    background-color:#000;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

/* Resolvendo problema do buraco no IE7/8 */
div.lightplayer div.palco div.wm-poster-wrapper,
div.lightplayer div.palco div.wm-poster-inner-wrapper {
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

div.lightplayer div.palco li {
    position:absolute;
    display:none;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    list-style:none;
    overflow:hidden;
}

div.lightplayer div.palco li span {
    display:none;
}

div.lightplayer div.palco li.current {
    display:block;
    top:0;
    left:0;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco li.next {
    display:block;
    left:100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco li.prev {
    display:block;
    left:-100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer div.palco ul {
    position:relative;
    display:block;
    margin:0;
    padding:0;
    height:359px;
    list-style:none;
    background:url(/media/lightplayer/imgs/bg.png) #000 0 0 repeat-x;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
    overflow:hidden;
    
}



/********************************************************
 * MODULO SOCIAL
 ********************************************************/

div.lightplayer div.social {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 0 0 28px;
    padding:39px 0 0;
    width:305px;
    height:26px;
    text-align:right;
    vertical-align:top;
}

div.lightplayer div.social a.button {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 0 0 10px;
    width:24px;
    height:24px;
    vertical-align:middle;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.social.png) transparent 0 0 no-repeat;
}

div.lightplayer div.social a.button.facebook {
    background-position:-24px 0;
}

div.lightplayer div.social a.button.orkut {
    background-position:0 0;
}

div.lightplayer div.social a.button.twitter {
    background-position:-48px 0;
}

div.lightplayer div.social span.label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height:24px;
    color: #999;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
}


/********************************************************
 * MODULO INFO
 ********************************************************/

div.lightplayer div.info {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding: 0 0 20px 28px;
    width:430px;
    height:70px;
    vertical-align:top;
}

div.lightplayer div.info h6 {
    display:block;
    margin: 0 5px 0 0;
    color:#533475;
    font:bold 24px/26px Arial, sans-serif;
    letter-spacing:-2px;
}

div.lightplayer div.info span.chapeu {
    display: block;
    color:#666;
    font:12px ProximaNova-Light, Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 3px;
}

div.lightplayer div.info span.numero {
    font-family:ProximaNova-Bold, Arial, sans-serif;
}



/********************************************************
 * MODULO PLAYLIST
 ********************************************************/

div.lightplayer div.playlist {
    height: 225px;
    position: relative;
    padding: 10px 30px 30px;
    background-color: #f6f6f6;
}

div.lightplayer div.playlist a {
    position:relative;
    display:block;
    width:100%;
    text-decoration:none;
    color:#666;
}
div.lightplayer div.playlist li.assistindo a:hover span.hover-img {
    display:none;
}


div.lightplayer div.playlist a:hover span.hover-img {
    display:block;
}

div.lightplayer div.playlist a.next {
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent -28px 0 no-repeat;
    background-color:#c51883;
    position: absolute;
    top: 10px;
    right: 0;
    height: 108px;
    width: 27px;
}

div.lightplayer div.playlist a.next:hover {
    background-position: -94px 0;
}

div.lightplayer div.playlist a.next:active {
    background-position: -159px 0;
}

div.lightplayer div.playlist .inativo{
    background-color:#c9c9c9!important;
}
div.lightplayer div.playlist a.next.inativo {
    background-position: -224px 0;
}

div.lightplayer div.playlist a.prev {
    background:url(/media/lightplayer/imgs/btn.nav_playlist.png) transparent 0 0 no-repeat;
    background-color:#c51883;
    position: absolute;
    top: 10px;
    left: 0;
    height: 108px;
    width: 27px;
}

div.lightplayer div.playlist a.prev:hover {
    background-position: -66px 0;
}

div.lightplayer div.playlist a.prev:active {
    background-position: -131px 0;
}

div.lightplayer div.playlist a.prev.inativo {
    background-position: -196px 0;
}

div.lightplayer div.playlist div.film-strip {
    transition: margin-left 400ms ease-out;
    -webkit-transition: margin-left 400ms ease-out; /* Safari and Chrome */
    -moz-transition: margin-left 400ms ease-out; /* Firefox 4 */
    -o-transition: margin-left 400ms ease-out; /* Opera */
}

div.lightplayer div.playlist div.trilho-videos {
    position: relative;
    width: 100%;
    height: 225px;
    overflow: hidden;
    white-space: nowrap;
}

div.lightplayer div.playlist img {
    display:block;
    margin-bottom: 18px;
    width: 180px;
    height: 108px;
    border:none;
    border-radius: 2px;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */
}

div.lightplayer div.playlist li {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin: 0 5px;
    width: 180px;
    white-space: normal;
    vertical-align: top;
}


div.lightplayer div.playlist li span.label,
div.lightplayer div.playlist li span.layer {
    display:none;
}
div.lightplayer div.playlist li.assistindo a{
    color: #666 !important;
    cursor: default;
}
div.lightplayer div.playlist li.assistindo span.label {
    position:absolute;
    display:block;
    top:0;
    left:0;
    padding:48px 0;
    width: 180px;
    color:#fff;
    font:bold 12px ProximaNova-SemiBold, Arial, sans-serif;
    letter-spacing: -1px;
    text-align:center;
    text-transform: uppercase;
}

div.lightplayer div.playlist li.assistindo span.layer {
    position: absolute;
    display:block;
    *display:none; /* IE7 has some rendering problems */
    top:0;
    left:0;
    width: 180px;
    height: 108px;
    border-radius: 2px;
    background-color: #000;
    opacity:0.6;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=60); /* IE8 */
    filter:alpha(opacity=60); /* IE7- */
    zoom:1;
    float:left;
}

div.lightplayer div.playlist span.borda-inferior {
    position: absolute;
    height: 3px;
    bottom: 0;
    background-color: #eaeaea;
    width: 100%;
    left: 0;
}

div.lightplayer div.playlist span.chapeu {
    display: block;
    margin-bottom: 5px;
    font:12px ProximaNova-Light, Arial, sans-serif;
    text-transform: uppercase;
}

div.lightplayer div.playlist span.exibicao {
    display: block;
    margin-top: 18px;
    font-size: 10px;
    text-transform: uppercase;
    color:#666;
}

div.lightplayer div.playlist span.exibicao strong {
    font-family:ProximaNova-Semibold, Arial, sans-serif;
}

div.lightplayer div.playlist span.hover-img {
    position: absolute;
    display: none;
    width: 172px;
    height: 100px;
    top: 0;
    left:0;
    border-radius: 2px;
    border: 4px solid;
    border-color:#c51883;
}

div.lightplayer div.playlist span.numero {
    font:bold 12px ProximaNova-Semibold, Arial, sans-serif;
}

div.lightplayer div.playlist span.titulo-item {
    display:block;
    font: 14px/18px Arial, Helvetica, Freesans, sans-serif;
}

div.lightplayer div.playlist ul {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0;
    padding:0;
    text-indent:0;
    list-style:none;
    overflow:hidden;
    vertical-align:top;
}

