div.lightplayer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font:x-small arial, helvetica, freesans, sans-serif;
    z-index:100000;
}

div.lightplayer a.close {
    position:absolute;
    display:block;
    top:25px;
    right:25px;
    width:30px;
    height:30px;
    text-indent:-5000px;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    overflow:hidden;
}

div.lightplayer a.close:hover {
    background-position:0 -30px;
}

div.lightplayer a.nav {
    position:absolute;
    display:none;
    top:126px;
    width:0;
    height:130px;
    text-decoration:none;
    overflow:visible !important;
    z-index:1;
}

div.lightplayer a.nav span.overlay {
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    border-radius:3px;
    opacity:.7;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70); /* IE8 */
    filter:alpha(opacity=70); /* IE7- */
    z-index:1;
}

div.lightplayer a.nav span.arrow {
    position:absolute;
    display:block;
    top:40px;
    width:30px;
    height:50px;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.sprite.png) transparent 0 0 no-repeat;
    opacity:.2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index:2;
}

div.lightplayer a.nav span.chapeu {
    display:block;
    margin:0 0 7px;
    color:#ddd;
    font-size:9px;
    text-transform:uppercase;
}

div.lightplayer a.nav span.info {
    position:absolute;
    display:none;
    top:20px;
    width:150px;
    height:100px;
    color:#fff;
    font-size:12px;
    z-index:2;
}

div.lightplayer a.nav.next {
    right:0;
}

div.lightplayer a.nav.next span.info {
    left:20px;
}

div.lightplayer a.nav.next span.arrow {
    right:15px;
    background-position:0 -60px;
}

div.lightplayer a.nav.prev {
    left:0;
}

div.lightplayer a.nav.prev span.info {
    right:20px;
}

div.lightplayer a.nav.prev span.arrow {
    left:15px;
    background-position:-28px -60px;
}

div.lightplayer a.nav.visible {
    display:block;
}

div.lightplayer a.nav.visible span.arrow {
    cursor:pointer;
}

div.lightplayer a.nav.loading span.arrow {
    background:url(/media/lightplayer/imgs/ico.loading.gif) transparent 0 0 no-repeat;
    cursor:default;
}

div.lightplayer a.nav.loading span.overlay,
div.lightplayer a.nav.loading span.info {
    display:none !important;
}

div.lightplayer div.video-player {
    display:inline-block;
    *display:inline;
    *zoom:1;
    height:359px !important;
    background-color:#000;
}

div.lightplayer div.video-social {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:30px 20px 30px 0;
    width:240px;
    height:170px;
    vertical-align:top;
}

div.lightplayer div.video-social a.button {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin-right:6px;
    width:24px;
    height:24px;
    vertical-align:middle;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.social.png) transparent 0 0 no-repeat;
}

div.lightplayer div.video-social a.button.facebook {
    background-position:-24px 0;
}

div.lightplayer div.video-social a.button.orkut {
    background-position:0 0;
}

div.lightplayer div.video-social a.button.twitter {
    background-position:-48px 0;
}

div.lightplayer div.video-social iframe {
    width:240px;
    height:100px;
}

div.lightplayer div.video-social input {
    padding:0 5px;
    height:22px;
    color:#666;
    font-size:12px;
    line-height:20px;
    vertical-align:middle;
    border-radius:3px;
    border:1px inset #888;
    cursor:text;
}

div.lightplayer div.video-info {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:30px 28px 30px 30px;
    width:490px;
    vertical-align:top;
}

div.lightplayer div.widget {
    position:relative;
    margin:10px auto;
    width:820px;
    background-color:#fff;
    border:1px solid #ddd;
    border-radius:5px;
    box-shadow:0 0 4px #ccc;
    opacity:0;

    -webkit-transform:scale(0.9);
    -moz-transform:scale(0.9);
    -o-transform:scale(0.9);
    transform:scale(0.9);

    -webkit-transition:-webkit-transform 0.7s ease, opacity 0.7s ease;
    -moz-transition:-moz-transform 0.7s ease, opacity 0.7s ease;
    -o-transition:-o-transform 0.7s ease, opacity 0.7s ease;
    transition:transform 0.7s ease, opacity 0.7s ease;
}

div.lightplayer div.widget.visible {
    opacity:1;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100); /* IE8 */
    filter:alpha(opacity=100); /* IE7- */

    -webkit-transform:scale(1.0);
    -moz-transform:scale(1.0);
    -o-transform:scale(1.0);
    transform:scale(1.0);
}

div.lightplayer div.widget-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow-y:scroll;
    z-index:2;
}

div.lightplayer div.palco {
    position:relative;
}

div.lightplayer div.widget-overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#f6f6f6;
    z-index:1;
    opacity:0;

    -webkit-transition:opacity 0.7s ease;
    -moz-transition:opacity 0.7s ease;
    -o-transition:opacity 0.7s ease;
    transition:opacity 0.7s ease;
}

div.lightplayer div.widget-overlay.visible {
    opacity:0.8;
    -ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80); /* IE8 */
    filter:alpha(opacity=80); /* IE7- */
}

div.lightplayer div.header {
    padding:28px 23px 12px;
    height:40px;
    overflow:hidden;
}

div.lightplayer em.subtitulo {
    color:#999;
    font:italic 18px Georgia, serif;
    letter-spacing:-1px;
}

div.lightplayer h5 {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 5px 0 0;
    padding:0;
    color:#333;
    font:36px/1em Arial, sans-serif;
    letter-spacing:-2px;
}

div.lightplayer h5 span {
    color:#ff8706;
    font-weight:bold;
}

div.lightplayer h6 {
    display:inline;
    margin-right:5px;
    color:#333;
    font:bold 26px/28px Arial, sans-serif;
    letter-spacing:-2px;
}

div.lightplayer li {
    position:absolute;
    display:none;
    top:0;
    width:100%;
    height:100%;
    text-align:center;
    list-style:none;
    overflow:hidden;
}

div.lightplayer li span {
    display:none;
}

div.lightplayer li.current {
    display:block;
    top:0;
    left:0;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer li.next {
    display:block;
    left:100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer li.prev {
    display:block;
    left:-100%;
    -webkit-transition:left .4s linear;
    -moz-transition:left .4s linear;
    -o-transition:left .4s linear;
}

div.lightplayer p {
    margin-top:15px;
    color:#999;
    font:14px/18px Arial, sans-serif;
    letter-spacing: -0.4px;
}

div.lightplayer span.facebook {
    display:block;
    margin-bottom:20px;
    padding-bottom:20px;
    border-bottom:1px solid #ccc;

}

div.lightplayer span.views {
    color:#bbb;
    font:12px Arial, sans-serif;
}

div.lightplayer ul {
    position:relative;
    display:block;
    margin:0;
    padding:0;
    height:359px;
    list-style:none;
    background:url(/media/lightplayer/imgs/bg.png) #000 0 0 repeat-x;
    overflow:hidden;
}
