
/********************************************************
 * MODULO SOCIAL
 ********************************************************/

div.lightplayer div.social {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 0 0 28px;
    padding:39px 0 0;
    width:305px;
    height:26px;
    text-align:right;
    vertical-align:top;
}

div.lightplayer div.social a.button {
    display:inline-block;
    *display:inline;
    *zoom:1;
    margin:0 0 0 10px;
    width:24px;
    height:24px;
    vertical-align:middle;
    text-indent:-5000px;
    *text-indent:0;
    overflow:hidden;
    background:url(/media/lightplayer/imgs/btn.social.png) transparent 0 0 no-repeat;
}

div.lightplayer div.social a.button.facebook {
    background-position:-24px 0;
}

div.lightplayer div.social a.button.orkut {
    background-position:0 0;
}

div.lightplayer div.social a.button.twitter {
    background-position:-48px 0;
}

div.lightplayer div.social span.label {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height:24px;
    color: #999;
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    vertical-align: middle;
}

