<script type="text/plain+template" id="pop-videos-template">
    <div class="pop-player">
        <div class="widget-container">
            <div class="widget">
                
                <div class="widget-top">
                    <h5><span>Pop</span> Vídeos</h5>
                    <em class="subtitulo">seleção dos vídeos mais assistidos</em>
                    <a href="javascript:;" class="close">fechar</a>
                </div>

                <div class="widget-content">
                    <a href="javascript:;" class="nav prev">
                        <span class="arrow"></span>

                        <span class="video">
                            <span class="chapeu">Anterior</span>
                            <span class="title"></span>
                        </span>
                        
                        <span class="overlay"></span>
                    </a>

                    <a href="javascript:;" class="nav next">
                        <span class="arrow"></span>

                        <span class="video">
                            <span class="chapeu">Próximo</span>
                            <span class="title"></span>
                        </span>
                        
                        <span class="overlay"></span>
                    </a>

                    <ul></ul>

                    <div class="video-info">
                        <h6></h6>
                        <span class="views"></span>
                        <p></p>
                    </div>

                    <div class="video-social"></div>
                </div>

            </div> <!-- .widget -->

            &nbsp; <!-- needed for preventing scrollbar flickering -->
        </div> <!-- .widget-container -->

        <div class="widget-overlay"></div>
    </div>
</script>
